<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5p- %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="kotlin" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="off"/>
    </Loggers>
</Configuration>
